<h2>Show user</h2>

<ul>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @user.name || {:safe, "<i>not set</i>"} %>
  </li>

  <li>
    <strong>Password:</strong>
    <i><%= if @user.password_hash, do: "set", else: "not set" %></i>
  </li>

</ul>

<%= link "Home", to: page_path(@conn, :index) %>
