$icon-font-path: "/fonts/";
@import "bootstrap";

/* Space out content a bit */
form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 280px;
  height: 70px;
  display: inline-block;
  background-image: url("/images/lean_coffee.png");
  background-size: 280px 70px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Main marketing message */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* Supporting marketing content */
.marketing {
  margin: 35px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.nav {
  li>form {
    a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }
    a:hover {
      text-decoration: none;
      background-color: #eee;
    }
  }
}

.nav-pills>li>form>a {
  border-radius: 4px;
}

.grid-sizer {
  display: none;
}

.grid-item-content {
  .panel-heading, .panel-body, .panel-footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
